@charset "utf-8";

::selection{color:#fff; background:#869F30;}

body{font-family:"Noto Sans KR", sans-serif;}
a{display:inline-block; text-decoration:none; color:inherit;}

.clearfix::after{content:''; display:block; clear:both;}

.inner{width:1364px; margin:0 auto;}

header{
    max-width:1920px; height:112px; margin:0 auto;
    #top_cf{
        float:right; margin-top:8px; margin-right:278px;
        li{display:inline-block; font-size:13px; color:#4c4c4c;
            font-weight:600;}
        li:first-child::after{
            content:'│'; color:#4c4c4c; font-weight:600;}
        .receipt_btn{color:#75AA64; border:1.5px solid #75AA64;
            padding:4px 8px; margin-left:10px; font-weight:600;} 
    }//end:#top_cf

    #logo{
        float:left; margin-left:278px; margin-top:59px; margin-bottom:36px;
    }//end:#logo

    #gnb{ 
        float:left; margin-left:150px; margin-top:50px;
        li{float:left; position:relative;}
        a{font-size:19px; font-weight:700; color:#222;
            padding:10px 26px 28px;}
        li:nth-child(1) .sub{left:-100px;}
        li:nth-child(2) .sub{left:-56px;}
        li:nth-child(3) .sub{left:-11px;}
        li:nth-child(4) .sub{left:66px;}
        li:nth-child(5) .sub{left:117px; border:0;}
        .sub{z-index:999;
            visibility:hidden; opacity:0; position:absolute; height:290px;
            margin-top:10px; padding-right:26px;
            transition:all .4s; white-space: nowrap;
            border-right:1px solid #969696;
            li{float:none; padding-bottom:20px;}

            a{font-size:16px; color:#222; font-weight:500; padding:0;}
            a::after{display:none;}
            a:hover{color:#869f30;}
        }
        &:hover .sub{visibility:visible; opacity:1;}
        .sub_bg{position:absolute; width:100%; height:0px; top:104px; left:0;
            background: #fff; z-index:100; transition:all .4s;
            visibility: hidden;}
        &:hover .sub_bg{height:350px; transition:none; visibility:visible;}
    }//end:#gnb

    #search{ 
        float:right; margin-top:23px; margin-right:278px;
        li{float:left;}
        .give{background:linear-gradient(90deg,#97A836,#70AA67);
            padding:12px 28px; border-radius:50px; color:#fff; margin-left:15px;
            font-size:15px; margin-top:-4px;}
    }//end:#search

}//end:header

@keyframes pulse {
    0% {
        top:0; left:0; bottom:0; right:0; opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        top:-12px; left:-12px; bottom:-12px; right:-12px; opacity:0;
    }
}

main{
    margin-top:10px;
    #main_view{position:relative; overflow:hidden;
    .slider{ 
        display:flex;width:100%; margin:0 auto;
        .view{width:100%;  flex-shrink:0; position: relative;}
        .view img{width:100%;}
        .text{color:#fff; position:absolute; top:150px; left:273px;
            font-family:"Noto Sans KR";
            p{font-size:20px; margin-bottom:29px;}
            h3{font-size:30px; margin-bottom:46px; font-weight:600;}
            h5{font-size:24px; margin-bottom:46px; line-height:1.5;}
            a{font-size:18px; color:#000;
                background:#fff; padding:16px 58px; border-radius: 50px;
                position:relative;}
            a::before{content:''; position:absolute; top:0; left:0; bottom:0;
                right:0; border-radius: 50px; 
                border:5px solid rgba(255,255,255,.5); opacity:0;}
            a:hover::before{animation: pulse 1s infinite;}
        }//end:.text
    }
    }//end:#main_view

    #main2{
        .story_title{
            h2{font-size:40px; text-align: center; margin-top:97px; font-weight:600;
                margin-bottom:40px;}
            p{text-align: center; font-size:20px; font-weight:500; margin-bottom:67px;}
        }

        .story_content{width:394px; height:444px; border:1px solid #D5D5D5;
    
            img{width:395px; height:349px;}
        }
    }//end:#main2

}//end:main